@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a asp-area="" asp-controller="socks" asp-action="Index">Table</a>.</p>
</div>
