@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Urban Ethics Socks</h1>
    <p>To see products <a asp-area="" asp-controller="socks" asp-action="Index">click here</a>.</p>
</div>
